# sekrit stuffs
credentials.toml
gsheets_credentials.json
user_token*.json
*_user_token.*.json

# sqlite stuffs
*.db
*.db-shm
*.db-wal

# python noise
.env
.venv
env/
venv/

__pycache__/
*.py[cod]

build/
dist/
sdist/

# testing bits (if we have them)
.tox/
.nox/
.pytest_cache/
